#-e git+https://github.com/satlab/bbctl.git@f52f382221fcca1bba50c3192c7e4aa38564ef2a#egg=bbctl
-e git+https://github.com/aausat/bbctl.git#egg=bbctl
-e git+https://github.com/lbromo/pypredict.git#egg=predict
pyusb==1.0.0b2
wheel==0.24.0
pytz==2016.3
